html {
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    color: rgb(61, 61, 61);
    background: #fff;
    font-family: 'Source Sans Pro', sans-serif;
    background-image: url('../img/background.png');
    background-repeat: repeat; 
}

a {
    color: #46639d; 
}

a:hover {
    color: #46639d;
    text-decoration: none;
}

#navbarNav {
    margin-top: 8px;
}

header {
    background:url('/back.jpg');
    background-size: cover;
    padding: 0 0 2em 0;
    text-align: center;
    color: #fff;
    margin-bottom: 2em;
}

header h1 {
    font-weight: bold;
    font-size: 2.4em;
}

header h2 {
    font-size: 1.3em;
    font-weight: 200;
}



.btn-primary {
    color: #fff;
    background-color: #006bb1;
    border-color: #006bb1;
    font-weight: bold;
}

label {
    display: inline-block;
    margin-bottom: 0;
}
.material-switch > input[type="checkbox"] {
    display: none;   
}

.material-switch > label {
    cursor: pointer;
    height: 0px;
    position: relative; 
    width: 40px;  
}

.material-switch > label::before {
    background: rgb(0, 0, 0);
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 8px;
    content: '';
    height: 16px;
    margin-top: -8px;
    position:absolute;
    opacity: 0.3;
    transition: all 0.4s ease-in-out;
    width: 40px;
}
.material-switch > label::after {
    background: rgb(255, 255, 255);
    border-radius: 16px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
    content: '';
    height: 24px;
    left: -4px;
    margin-top: -8px;
    position: absolute;
    top: -4px;
    transition: all 0.3s ease-in-out;
    width: 24px;
}
.material-switch > input[type="checkbox"]:checked + label::before {
    background: inherit;
    opacity: 0.5;
}
.material-switch > input[type="checkbox"]:checked + label::after {
    background: inherit;
    left: 20px;
}


/* Buttom */
.button {
    text-align: center;
}

.button-main {
    color: #fff;
    background: #01b351;
    font-size: 1.2em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 20px;
}
.button-main:hover {
    background: #077f37;
}

.img-footer {
    height: 6em;

}

.text-footer {
    text-align: center;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 240px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    min-height: 180px;
    line-height: 200px; /* Vertically center the text there */
    background-color: #f5f5f5;
    padding: 15px 0;
  }
  
  
  /* Custom page CSS
  -------------------------------------------------- */
  /* Not required for template or sticky footer method. */
  
  body > .container {
    padding: 60px 15px 0;
  }
  
  .footer > .container {
    padding-right: 15px;
    padding-left: 15px;
  }
  
  code {
    font-size: 80%;
  }